
@{
    ViewData["Title"] = "Add Product";
}

<h1 class="text-white text-center">Add Product to Catalog</h1>

<div class="card p-4">
    <form id="AddProductToCatalog">
        <div class="form-group">
            <label for="productName" class="control-label">Name</label>
            <input for="productName" class="form-control" id="productName" placeholder="Product Name" />
        </div>
        <div class="form-group">
            <label for="productDescription" class="control-label">Product</label>
            <input form="productDescription" class="form-control" id="productDescription" placeholder="Product Description" />
        </div>
        <div class="form-group">
            <label for="price" class="control-label">Price</label>
            <input form="price" class="form-control" id="price" placeholder="Price" />
        </div>
        <div class="form-group">
            <input type="submit" value="Add Plant to Catalog" class="btn btn-warning btn-lg btn-block" onclick="addProduct()" />
        </div>
    </form>
</div>

<div class="container p-2 mt-4">
    <button type="button" class="btn btn-info btn-lg btn-block" onclick="getAllProducts()">See All Products in Catalog</button>
    <table class="table table-hover table-light" id="AllProductsUpdate">
        <thead>
        <th scope="col">Product Id</th>
        <th scope="col">Name </th>
        <th scope="col">Price </th>
        <th scope="col">Description </th>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<h1 class="text-white text-center mt-4">Add Product to Inventory</h1>
<div class="card p-4">
    <form id="AddToInventory">
        <div class="form-group">
            <label for="InventoryLocation" class="control-label">Location Id</label>
            <input for="InventoryLocation" class="form-control" id="InventoryLocation" placeholder="Inventory Id" />
        </div>
        <div class="form-group">
            <label for="ProductInventoryId" class="control-label">Product</label>
            <input form="ProductInventoryId" class="form-control" id="ProductInventoryId" placeholder="Product Id" />
        </div>
        <div class="form-group">
            <label for="InventoryQuantity" class="control-label">Quantity</label>
            <input form="InventoryQuantity" class="form-control" id="InventoryQuantity" placeholder="Quantity" />
        </div>
        <div class="form-group">
            <input type="submit" value="Add Product to Inventory" class="btn btn-warning btn-lg btn-block" onclick="postInventoryItem()" />
        </div>
    </form>
</div>

<div class="container p-2 mt-4">
    <button type="button" class="btn btn-info btn-lg btn-block" onclick="GetAllInventory()">See All Inventory</button>
    <table class="table table-hover table-light" id="AllInventory">
        <thead>
        <th scope="col">Location Id</th>
        <th scope="col">Product Id</th>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<a class="text-light" asp-controller="Manager" asp-action="Index">Back to Manager Menu</a>