@model SoilMatesWeb.Models.User

@{
    ViewData["Title"] = "Manager functions";
}


<div class="card">
    <div class="card-body"> Order Product </div>
</div>
<div class="card">
    <div class="card-body">
        <button type="button" class="btn btn-info">Go</button> View Locations all locations
    </div>
</div>
<div class="card">
    <div class="card-body">
        <button type="button" class="btn btn-info">Go</button>  View Orders by Location
    </div>
</div>
<div class="card">
    <div class="card-body">
        <button type="button" class="btn btn-info">Go</button> Add Product
    </div>
</div>
<div class="card">
    <div class="card-body">
        <button type="button" class="btn btn-info">Go</button> View Iventory
    </div>
</div>





