
@{
    ViewData["Title"] = "View Inventory";
}

<h1 class="text-light text-center">View Inventory</h1>

<partial name="_Locations" />

<form>
    <div class="text-danger"></div>
    <div class="form-group">
        <label for="LocationId" class="control-label text-light">Enter Location Id</label>
        <input for="location" class="form-control" id="locationId" placeholder="Location Number" />
    </div>
</form>



