
@{
    ViewData["Title"] = "View Inventory";
}

<h1 class="text-light text-center">View Inventory</h1>

<partial name="_Locations" />

<form asp-action="ViewInventory" method="post">
    <partial name="_FormLocation"/>    
</form>

<a class="text-light" asp-controller="Customer" asp-action="Index">Back to Customer Menu</a>
