@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="text-danger"></div>
<div class="form-group">
    <label for="LocationId" class="control-label text-light">Enter Location Id</label>
    <input for="LocaitonId" name="locationId" class="form-control" id="locationId" placeholder="Location id" min="0" max="11" />
</div>
<div class="form-group">
    <input type="submit" value="Get Inventory" class="btn btn-info" />
</div>