@model SoilMatesWeb.Models.User

@{
    ViewData["Title"] = "Login";
}
        <div class="card">
            <h5 class="card-header">Login</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="Login" id="login">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" id="email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="control-label"></label>
                                <input asp-for="Password" class="form-control" id="password" placeholder="password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Login" class="btn btn-primary" onclick="Login()" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    <div>
        <a asp-action="Home">Back To Home Page.</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }








